TaskApplication-AndroidStudio/TaskApplication/TaskApplication.iml
TaskApplication-AndroidStudio/TaskApplication/.idea/.name
TaskApplication-AndroidStudio/TaskApplication/.idea/compiler.xml
TaskApplication-AndroidStudio/TaskApplication/.idea/gradle.xml
TaskApplication-AndroidStudio/TaskApplication/.idea/misc.xml
TaskApplication-AndroidStudio/TaskApplication/.idea/modules.xml
TaskApplication-AndroidStudio/TaskApplication/.idea/runConfigurations.xml
TaskApplication-AndroidStudio/TaskApplication/.idea/vcs.xml
TaskApplication-AndroidStudio/TaskApplication/.idea/copyright/profiles_settings.xml
TaskApplication-AndroidStudio/TaskApplication/app/app.iml
